/* mobile + tablet */
@media screen and (max-width: 940px) {
  .desktop {
    display: none !important;
  }

  .scrollbox {
    overflow: auto;
    overflow: -moz-scrollbars-none !important;
  }

  .scrollbox::-webkit-scrollbar {
    display: none;
  }
}
/* mobile */
/* tablet + desktop */
@media screen and (min-width: 641px) {
  .tablet {
    display: none !important;
  }
}
/* tablet */
/* desktop */
@media screen and (min-width: 941px) {
  .mobile {
    display: none !important;
  }
}