@charset "UTF-8";

/* mobile + tablet */
@media screen and (max-width:940px){
	.desktop{display:none!important;}

	.scrollbox{overflow:auto;overflow:-moz-scrollbars-none!important;}
  	.scrollbox::-webkit-scrollbar{display:none;}
}

/* mobile */
@media screen and (max-width:640px){
	.overtitle {
		margin-bottom: 13px;
	}

	.title {
		font-size: 32px;
		line-height: 45px;
		margin-bottom: 20px;
	}

	.subtitle-text {
		white-space: normal;
		margin-bottom: 48px;
	}
}

/* tablet + desktop */
@media screen and (min-width:641px){
	.tablet{display:none!important;}
}

/* tablet */    
@media screen and (min-width:641px) and (max-width:940px){

}   
    
/* desktop */    
@media screen and (min-width:941px){

    .mobile{display:none!important;}
}
