.overtitle {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    color: #1C57C9;
    margin-bottom: 16px;
}

.title {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 42px;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: #262B35;
    margin-bottom: 24px;
    white-space: pre-line;
}

.subtitle-text {
    font-family: 'Inter';
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #606C84;
    white-space: pre-line;
    margin-bottom: 60px;
}

@import "header", "first-screen", "about", "update", "services", "testimonials", "contacts", "footer";